// font-family: "Josefin Sans", sans-serif;
// font-family: "Aleo", serif;

$main-font: "Josefin Sans", sans-serif;
// Josefin sans, regular and bold. Aleo - only regular
$aleo: "Aleo", serif;
$bold-font: 700;