footer {
    max-width: 1770px;
    width: 100%;
    min-height: 271px;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer {
    &__logo {
        text-transform: uppercase;
        margin: 0;
    }
    &__p {
        font-size: 16px;
        letter-spacing: 1.6px;
    }
    &__icon-container {
        max-width: 196px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}
.footer__logo a {
    text-decoration: none;
    color: #FFFFFF;
    &:hover {
        opacity: 60%;
    }
    
}
.icons-footer {
    color: #FFFFFF;
    &:hover {
        opacity: 60%;
    }
    &:active {
    color: #c8c6c687;
    }
}
.icons-footer-linkedin {
    color: #5474FD;
    &:hover {
        opacity: 60%;
    }
    &:active {
    color:  #c8c6c687;
    }
}