.section-six {
    background-image: url(/images/background-section5.png);
    max-width: 1770px;
    width: 100%;
    min-height: 731px;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__h1 {
        font-size: 36px;
        font-family: "Aleo", serif;
        font-weight: 200;
        margin-bottom: 70px;
        text-align: center;
    }
    &__container {
        // max-width: 1770px;
        // width: 100%;
        // height: 287px;
        // background-color: #333333;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px;
        // box-sizing: border-box;
    }
    &__container > img {
        // padding-left: 20px;
    }
    &__image {
        max-width: 445px;
        width: 100%;
        min-height: 284px;
    }
    &__text-container {
        max-width: 668px;
        width: 100%;
        min-height: 284px;
        background-color: #333333;
        // padding-left: 30px;
        // padding-right: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
    }
    &__p1 {
        text-transform: uppercase;
        font-size: 20px;
        margin: 0;
        padding-bottom: 20px;
    }
    &__p2 {
        font-size: 18px;
        line-height: 26px;
        margin: 0px;
    }
}
.section-six .fa-solid {
    font-size: 40px;
    color: #5474FD;
}
// .section-six__image img:first-child {
//         max-width: 445px;
//         width: 100%;
//         min-height: 284px;
//         width: 500px;
// }

@media screen and (max-width: 1232px) {
    .section-six__container > img {
            padding-bottom: 20px;
            max-width: 80%;
            // display: none;
    }
    .section-six__text-container {
        // margin-bottom: 20px;
        min-height: 184px;
    }
    .section-six__h1 {
        margin-bottom: 0px;
    }
    // .section-six__container img {
    //     width: 70%;
    // }
    .section-six__container {
        max-width: 80%;
    }
}

@media screen and (max-width:770px) {
    .section-six__container img {
        // width: 100%;
    }
}

