.section-two {
    background-image: url(/images/background-section2.png);
    max-width: 1770px;
    width: 100%;
    min-height: 685px;
    background-color: bisque;


}
// .section-two img:first-child {
//     max-width: 1773px;
//     width: 100%;
//     min-height: 100%;
// }

.section-two {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    &__text {
        max-width: 560px;
        width: 100%;
        min-height: 350px; // höftade
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    &__h2 {
        font-size: 36px;
        font-family: "Aleo", serif;
        font-weight: 300;
    }
    &__p {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
    }
    &__button {
        width: 228px;
        height: 63px;
        background-color: #496BFE;
        border: none;
        color: #FFFFFF;
        text-transform: uppercase;
        font-family: "Aleo", serif;
        letter-spacing: 1.2px;
        &:hover {
             background-color: #7890fb;
         }
        &:active {
            color:  #33333399;
            background-color: #5a78fd;
        }
    }
    &__images {
        max-width: 450px;
        min-height: 460px;
        padding: 10px;
    }
}
.section-two__images img:last-of-type {
    position: relative;
    left: 90px;
}

 @media screen and (max-width: 1110px) {
    .section-two__images img:last-of-type {
    position: static;
     left: 0px;
    }
    .section-two__images img:first-of-type {
    position: relative;
    left: 90px;
    }
}
@media screen and (max-width: 600px) {
    .section-two__images img:first-of-type {
        position: static;
        left: 0px;
    }
    .section-two__images {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .section-two__text {
        justify-content: center;
    }
}