.section-two {
    background-image: url(/images/background-section2.png);
    max-width: 1770px;
    width: 100%;
    min-height: 685px;
    background-color: bisque;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
// .section-two img:first-child {
//     max-width: 1773px;
//     width: 100%;
//     min-height: 100%;
// }

.section-two {
    // min-height: 685px;

    // height: 685px;
    &__text {
        max-width: 560px;
        width: 100%;
        min-height: 350px; // höftade
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
    }
    &__h2 {
        font-size: 36px;
        font-family: "Aleo", serif;
        font-weight: 300;
        margin-bottom: 15px;
    }
    &__p {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
    }
    &__button {
        width: 228px;
        height: 63px;
        background-color: #496BFE;
        border: none;
        color: #FFFFFF;
        text-transform: uppercase;
        font-family: "Aleo", serif;
        letter-spacing: 1.2px;
        &:hover {
             background-color: #7890fb;
         }
        &:active {
            color:  #33333399;
            background-color: #5a78fd;
        }
    }
    &__images {
        max-width: 450px;
        min-height: 460px;
        padding: 30px;
    }
    &__images > img {
        max-width: fit-content;
    }
}
.section-two__images img:last-of-type {
    position: relative;
    left: 90px;
}


 @media screen and (max-width: 1129px) {
    // .section-two__images img:last-of-type {
    // position: static;
    //  left: 0px;
    // }
    // .section-two__images img:first-of-type {
    // position: relative;
    // left: 90px;
    // }
    .section-two__text {
        width: 70%;
        min-height: 200px;
        justify-content: center;
        box-sizing: border-box;
    }
    .section-two {
        // flex-direction: column;
    }
    .section-two__images {
        max-width: 790px;
        min-height: 220px;
        padding-top: 0px;
    }
    .section-two__images img:last-of-type  {
        left: 0px;
    }
    .section-two__images img {
        padding: 5px;
        padding-top: 0px;
        max-width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .section-two__images img:first-of-type {
        position: static;
        left: 0px;
    }
    .section-two__images {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .section-two__text {
        justify-content: center;
    }
}

@media screen and (max-width:530px) {
    // .section-two__images img {
    //     max-width: 50%;
    // }
    // img {
    //     max-width: 50%;
    // }
}
