.section-two {
    background-image: url(/images/background-section2.png);
    max-width: 1770px;
    width: 100%;
    min-height: 685px;
    background-color: bisque;
}
.section-two img:first-child {
    max-width: 1773px;
    width: 100%;
    min-height: 100%;
}