// @import 'header'; // eller import??  eller inte alls?

$aleo: "Aleo", serif;

.section-one {
    background-image: url(/images/background-section1.png);
    max-width: 1770px;
    width: 100%;
    min-height: 820px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;

    // background-position: center;
    // background-size: contain;

//     background-image: url(/images/background-section1.png);
//     background-repeat:no-repeat;
// background-size:contain;
// background-position:center;
}

header {
    max-width: 1773px;
    width: 100%;
    min-height: 83px;
    background-color: #5474FD;
    position: absolute;
    bottom: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &__logo {
        font-weight: 700;
        letter-spacing: 2.4px;
        font-size: 24px;
        &:hover {
            color: #33333399;
        }
        &:active {
            color: #333333da;
        }
    }
    &__list {
        max-width: 525px;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: none;
    }
    &__link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: $aleo;
        font-size: 14px;
        text-transform: uppercase;
        &:hover {
            color: #33333399;
        }
        &:active {
            color: #333333da;
        }
    }
}

.middle-section-one {
    max-width: 673px;
    width: 100%;
    min-height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &__h1 {
        font-size: 48px;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
    }
    &__p {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 6.82px;
        font-weight: 400;
        margin: 0;
    }
}
.form-container {
    max-width: 665px;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
}
.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__input {
        max-width: 500px;
        width: 100%;
        height: 60px;
        padding: none;
        border: none;
        border-style: none;
        text-align: center;
    }
    &__button {
        max-width: 150px;
        width: 100%;
        height: 60px;
        border: none;
        border-style: none;
        background-color: #5474FD;
        margin: 5px solid white;
         color: white;
         font-family: "Aleo", serif;
         letter-spacing: 1.4px;
         font-size: 14px;
         font-weight: 400;
        &:hover {
             background-color: #7890fb;
         }
        &:active {
            color:  #33333399;
            background-color: #5a78fd;
        }
    }
}


// .form {
//     max-width: 500px;
//     width: 100%;
//     min-height: 63px;
//     box-sizing: border-box;
//     // position: relative;
//     &__input {
//     max-width: 500px;
//     width: 100%;
//     min-height: 63px;
//     padding: none;
//     border: none;
//     text-align: center;
//     letter-spacing: 2.8px;
//     color: #999999;
//     font-weight: 300;
//     position: relative;
//     box-sizing: border-box;
//     }
//     // &__input::placeholder {
//     //     margin-right: 150px;
//     // }
//     &__button {
//         position: relative;
//         left: 500px;
//         z-index: 1;
//         width: 150px;
//         height: 60px;
//         background-color: #5474FD;
//         border: 2px solid white;
//         // border: none;
//         color: white;
//         font-family: "Aleo", serif;
//         letter-spacing: 1.4px;
//         font-size: 14px;
//         font-weight: 400;
//         &:hover {
//             background-color: #7890fb;
//         }
//     }
// }
