@use 'fonts';

@import 'section-one';
// @import 'header';
@import 'section-two';
@import 'section-three';
@import 'section-four';
@import 'section-five';
@import 'section-six';
@import 'footer';

body {
    font-family: fonts.$main-font;
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
}